-- Устанавливаем настройки SSL. PostgreSQL запишет их в postgresql.auto.conf
ALTER SYSTEM SET ssl TO 'on';
ALTER SYSTEM SET ssl_cert_file TO '/etc/ssl/certs/server.crt';
ALTER SYSTEM SET ssl_key_file TO '/etc/ssl/private/server.key';