# "local" is for Unix domain socket connections only
local   all             all                                     peer
# IPv4 and IPv6 local connections:
host    all             all             127.0.0.1/32            scram-sha-256
host    all             all             ::1/128                 scram-sha-256

# Allow remote connections for the specific user only via SSL
hostssl {{ postgres_db_name }}    {{ postgres_db_user }}    0.0.0.0/0     scram-sha-256