---
- name: Deploy Rocket.Chat stack
  community.docker.docker_compose_v2:
    project_name: "{{ project_name }}"
    definition: "{{ lookup('ansible.builtin.template', 'docker-compose.yml.j2') | from_yaml }}"
    state: present
    pull: always # Рекомендуется для обновления образов
  register: compose_result

# Простая пауза при первом запуске, чтобы дать время на инициализацию
- name: Pause for replica set initialization on first run
  ansible.builtin.pause:
    seconds: 45
    prompt: "Waiting 45 seconds for Rocket.Chat to initialize MongoDB replica set on the first run..."
  when: compose_result.changed

- name: Debug Rocket.Chat deployment result
  ansible.builtin.debug:
    msg: "Rocket.Chat deployment finished. It should be available at https://{{ rocketchat_subdomain }}.{{ main_domain }}"