services:
  mysql:
    image: mysql:8.0
    container_name: "{{ mysql_project_name }}"
    restart: always
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: "{{ mysql_root_password }}"
      MYSQL_DATABASE: "{{ mysql_db_name }}"
      MYSQL_USER: "{{ mysql_user }}"
      MYSQL_PASSWORD: "{{ mysql_password }}"
    volumes:
      - "{{ mysql_volume_name }}:/var/lib/mysql"

volumes:
  "{{ mysql_volume_name }}":
    external: true